*{
  background-image: url('./assets/img/postBackground.jpg');
}

.section-login{
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;

}

.modal-content{
  border: 2px solid red;
}