@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-container, .signup-container{
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  border-radius: 50px 0 50px 0;
  justify-content: center;
  overflow: hidden;
  background-color: white;
  height: 90%;
  width: 80%;
  font-size: 20px;
}
.icon-google{
  font-size: 20px;
  margin-right: 5px;
}
.span-login, .span-login-lines, .span-signup, .span-signup-lines{
  margin-top: 5px;
  margin-bottom: 3%;
}
.container-btn-login-google{
  width: 100%;
}
.btn-login-google{
  width: 75%;
  height:5vh;
  border-radius: 5px;
  font-weight: bold;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  font-size: 20px;
  cursor: pointer;
}
.btn-login-google:hover, .submit-btn:hover, .btn-confirm:hover, .btn-cancel:hover{
  transform: scale(1.02);
  box-shadow: 0px 3px 10px rgb(63, 63, 63);
}
.section-login, .section-signup{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('./assets/img/wall9.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}

.image-login-container, .image-signup-container {
  width: 53%;
}
.image-login, .image-signup{
  border-radius: 50px 0 50px 0;
  height: 100%;
  width: 99%;
}
.login-form-container, .signup-form-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-btn-login-google{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login, .form-signup{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;

  width: 100%;
}

.title-login, .title-signup{
  margin-bottom: 5%;
  font-size: 40px;
}
.container-input-login, .container-input-signup{
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 2%;
  gap: 5px;
}

.input-login, .input-signup{
  height:5vh;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid gray;
  font-size: 20px;
}

.input-login:focus, .input-signup:focus{  
  border: 2px solid black;
}

.submit-btn{
  width: 75%;
  height:5vh;
  margin-top: 3%;
  border-radius: 5px;
  color: white;
  background-color:black;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 20px;
  cursor: pointer;
}
.link{
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.link:hover{
  text-decoration:underline;
}
.container-modal-confirm{
  background-color:rgba(0, 0, 0, 0.8);;
  color: white;
  height: 30%;
  padding: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50% ;
  grid-template-rows: 60% 40%;
  column-gap: 5px;
  row-gap: 5px;
  justify-content: center;
}
.container-modal-confirm span{
  font-size: 20px;
  grid-column: 1/3;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.modal-confirm{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
.linea-horizontal {
  border-bottom: 1px solid black; /* Cambia el color y el grosor según tus necesidades */
}
.btn-confirm, .btn-cancel{
  font-size: 20px;
  border-radius: 7px;
  height: 80%;
  align-self: center;
  cursor: pointer;
}
.btn-confirm {
  background-color: black;
  border: 1px solid white;
  color: white;
}

.span-login-lines, .span-signup-lines {
  position: relative;
}

.span-login-lines::before,
.span-login-lines::after, 
.span-signup-lines::before,
.span-signup-lines::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  background-color: rgb(190, 190, 190);
}

.span-login-lines::before, 
.span-signup-lines::before {
  left: -150px;
  right: 100%;
  margin-right: 5px;
}

.span-login-lines::after,
.span-signup-lines::after {
  right: -150px;
  left: 100%;
  margin-left: 5px;
}

.error-message{
  color:rgb(179, 0, 0);
  font-size: 18px;
  font-weight: bold;
}

/*Notas*/
.container-notes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width:100%; 
  padding-top: 70px;
  padding-bottom: 3%;
}
.note-card{
  max-height: 400px;
  width: 45%;
  padding: 30px;
  background-color: rgba(25, 25, 25, 0.9);
  color: white;
  box-shadow: 0px 2px 8px rgb(140, 140, 140);
  word-wrap: break-word;
  cursor: pointer;
  position: relative;
}
.note-card:hover{
  transform: scale(1.02);
  background-color: rgba(25, 25, 25, 0.7);
}
.note-title{
  text-align:center;
  font-size: 15px;
}
.note-content{
  text-align: justify;
  margin-bottom: 10px;
  font-size: 20px;
  color: rgb(106, 106, 106);
  padding: 15px;
  border-radius: 20px 0 20px 0;
  height: 75%;
  overflow: hidden;
}
.background-wall {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/img/wall9.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container-btn-new-note{
  width: 15%;
  background-color:  rgba(25, 25, 25, 0.9);
  height: 100vh;
  position: fixed;
  top: 0;
  box-shadow: 0px 2px 5px rgb(140, 140, 140);
}
.btn-new-note, .btn-logout{
  cursor: pointer;
  border:none;
  color: white;
  border-top:1px solid white;
  border-bottom:1px solid white;
  height: 50px;
  width: 100%;  
  font-size: 20px;
  background-color:  rgba(255, 255, 255, 0);
  margin-top: 20px;
}
.btn-logout{
  bottom: 3px;
  position: absolute;
}
.btn-new-note:hover, .btn-logout:hover{
  background-color:  rgba(173, 173, 173, 0.3);  
  transform: scale(1.02);
  box-shadow: 0px 3px 10px rgb(63, 63, 63);
}
.logo{
  width: 100%;
}
.icon-menu{
  color: white;
  font-size: 50px;
  position: absolute;
  top: 10px;
  left: 20px;
}
.icon-menu-lil{
  font-size: 50px;
  margin-top: 10px;
  margin-left: 10px;
  color: white;
}
.container-btn-new-note-lil{
  z-index: 2;
  width: 30%;
  height: 100vh;
  position: fixed;
  background-color:  rgba(25, 25, 25, 0.9);
  box-shadow: 0px 2px 5px rgb(140, 140, 140);
}

.icon-delete{
  position: absolute;
  font-size: 30px;
  bottom: 15px;
  right: 15px;
}
/*New note*/
.form-new-note, .note-card-edit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 40px 30px;
  background-color: rgba(25, 25, 25, 0.8);
  color: white;
  box-shadow: 0px 2px 10px rgb(0, 0, 0);
}

.container-modal-new-note, .modal-edit{
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-edit{
  height: 100%;
}
.container-input-new-note,
.container-textarea-new-note,
.container-input-edit-note,
.container-textarea-edit-note{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 20px;
  gap: 10px;
}
.container-input-new-note,
.container-input-edit-note {
  height: 20%;
  margin-bottom: 20px;
}
.container-textarea-new-note,
.container-textarea-edit-note{
  height: 60%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.container-textarea-edit-note{
  height: 100%;
  margin-top: 0px;
}
.input-new-note, .input-edit-note{
  height: 80%;
  font-size: 20px;
  padding: 0 10px;
  background-color: rgba(25, 25, 25, 0.8);
  color: rgb(106, 106, 106);
}
.textarea-new-note, .textarea-edit-note{
  height: 80%;
  font-size: 20px;
  padding: 10px;
  resize: none;
  background-color: rgba(25, 25, 25, 0.8);
  color: rgb(106, 106, 106);
}
.create-btn, .edit-btn{
  color: white;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  height: 15%;
  background-color: black;
  border-radius: 5px;
}

.note-card-edit{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  background-color: rgba(25, 25, 25, 0.9);
  color: white;
  box-shadow: 0px 2px 8px rgb(140, 140, 140);
}

.success{
  color: white;
  box-shadow: 0px 2px 8px rgb(140, 140, 140);
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: rgba(25, 25, 25, 0.9);
}

@media (min-width: 900px) {

  .login-container, .signup-container{
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    border-radius: 50px 0 50px 0;
    overflow: hidden;
    background-color: white;
    height: 90%;
    width: 60%;
    padding: 10px;
    min-width: 800px;
  }

  .login-form-container, .signup-form-container {
    width: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container-notes{
    padding-left: 15%;
    padding-top: 3%;
  }

  .input-login,
  .input-signup, 
  .span-login, 
  .span-login-lines, 
  .span-signup, 
  .span-signup-lines,
  .btn-login-google,
  .submit-btn,
  .login-container, 
  .signup-container
  {
    font-size: 15px;
  }

  .error-message{
    font-size: 12px;
    font-weight: bold;
  }
  .note-card{
    width: 22%;
  }
  .note-content{
    font-size: 15px;
  }

}
